name: CI

on:
  push:
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - '1.22'
          - '1.23'
          - '1.24'
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check
        run: make check

      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64

      - name: Test
        run: make test
